# Fichiers générés par Maven
target/
dependency-reduced-pom.xml

# Fichiers système
.DS_Store
**/.DS_Store

# IDE
.idea/
*.iml
.vscode/

# Data synchronisée par le launcher (ne pas versionner)
data/mods/
data/config/
